ion-range {
    --bar-background: #474747;
    --bar-background-active: #000000;
    --bar-height: 8px;
    --bar-border-radius: 8px;
    --knob-background: #000000;
    --knob-size: 20px;
    --pin-background: #000000;
    --pin-color: #fff;
}

ion-content::part(scroll) {
    scrollbar-gutter: stable;
    overflow-y: scroll;
}

.custom-item {
    --background: #f5f6fa; 
    --border-radius: 12px;
    --padding-start: 12px;
    --padding-end: 12px;
    --highlight-height: 0; 
    margin-bottom: 12px;
}
  
.custom-input {
    --color: #000; 
    --placeholder-color: #888;
    font-weight: 500;
}


.form-section-card {
    margin-bottom: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); 
    border-radius: 12px; 
    --background: var(--ion-color-tertiary-contrast, #fff); 
}

.title-section {
    font-size: 1.3rem; 
    font-weight: 600; 
    color: var(--ion-color-step-800, #333); 
}
  
.description-section {
    color: var(--ion-color-step-500, #888); 
    font-size: 0.9rem;
    margin-top: -5px; 
    margin-bottom: 10px;
}


.custom-input {
    --background: var(--ion-color-light-tint, #f4f5f8); 
    --border-radius: 8px; 
    --padding-start: 10px; 
    --inner-padding-end: 10px;
    margin-bottom: 16px; 

    ion-icon[slot="start"] {
        margin-inline-end: 8px;
    }
    

}

.grid-container {
    max-width: 800px;
    margin: 0 auto;
}

