<ion-header class="ion-no-border main-header">
  <ion-toolbar color="light">

    <ion-title slot="start" class="header-logo">
      <ion-icon name="globe-outline" aria-hidden="true" color="primary"></ion-icon>
      Sweet Trip
    </ion-title>

    <ion-buttons slot="end" class="header-right-buttons ion-hide-md-down">
      <ion-button fill="clear" class="nav-button">Nosotros</ion-button>
      <ion-button fill="clear" class="nav-button">Contacto</ion-button>

      <div class="button-separator"></div>

      <ion-button fill="outline" class="login-button">Iniciar Sesión</ion-button>
      <ion-button class="register-button ion-no-padding">
        <span class="ion-padding-horizontal">Registrarse</span>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end" class="ion-hide-md-up">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
