<app-side-bar #sidebar overlayId="profile-overlay"></app-side-bar>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <app-menu-button (toggleMenu)="sidebar.toggleSidebar()"></app-menu-button>
      </ion-buttons>
      <ion-title>Mi Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    
    <ng-container *ngIf="currentUser$ | async as user; else loadingTemplate">
      <div class="content-container">
        <h1>Mi Perfil</h1>
        
        <div class="profile-section">
          <div class="profile-header">
            <div class="avatar-container">
              <ion-avatar class="profile-avatar">
                <img alt="Avatar del usuario" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-button fill="clear" class="camera-button">
                <ion-icon name="camera-outline"></ion-icon>
              </ion-button>
            </div>
            <div class="profile-info">
              <h2>{{ user.name }}</h2>
              <p>{{ user.email }}</p>
              <ion-button fill="clear" color="primary" (click)="changeProfilePhoto()">
                Cambiar foto de perfil
              </ion-button>
            </div>
          </div>
        </div>

        </div>
    </ng-container>

    <ng-template #loadingTemplate>
      <div class="ion-text-center ion-padding">
        <ion-spinner name="crescent"></ion-spinner>
        <p>Cargando perfil...</p>
      </div>
    </ng-template>

  </ion-content>
</div>