<app-side-bar overlayId="explore-overlay"></app-side-bar>

<ion-header class="custom-explore-header" [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-menu-button (toggleMenu)="sidebar.toggleSidebar()"></app-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-text color="dark" class="greeting-text">
    <h2>¡Hola, Usuario!, tu siguiente viaje es:</h2>
  </ion-text>

  <ion-row class="ion-justify-content-center">

    @for(viaje of Viajes; track $index){
      <ion-col size="8" size-md="8" size-lg="4" class="card-column ion-margin-bottom">
        <app-tarjeta-viaje [viaje]="viaje"></app-tarjeta-viaje>
      </ion-col>
    } @empty {
      <ion-col size="12">
        <ion-text class="ion-text-center" color="medium"> <p>No hay viajes para mostrar.</p>
        </ion-text>
      </ion-col>
    }
  </ion-row>

</ion-content>
