ion-title {
    font-size: 25px;
    
}

ion-range {
    --bar-background: #474747;
    --bar-background-active: #000000;
    --bar-height: 8px;
    --bar-border-radius: 8px;
    --knob-background: #000000;
    --knob-size: 20px;
    --pin-background: #000000;
    --pin-color: #fff;
}

.text-checkbox {
    font-size: 17px;
    font-weight: 400;
}