<app-side-bar overlayId="explore-overlay"></app-side-bar>

<div class="ion-page" id="main-content">
    <ion-header class="ion-no-border">
      <ion-toolbar>
            <ion-buttons slot="start">
              <app-menu-button (toggleMenu)="sidebar.toggleSidebar()"></app-menu-button>
            </ion-buttons>

            <ion-title>Crea nuevo viaje</ion-title>
      </ion-toolbar>
    </ion-header>


    <ion-content class="ion-padding">

        <ion-grid [fixed]="true">
            <ion-row>
                <ion-button id="custom-button" style="padding-bottom: 10px; --background: black" routerLink="/mis-viajes">
                    <ion-icon name="arrow-back-outline"></ion-icon> Volver a Mis Viajes
                </ion-button>

            </ion-row>
            <ion-row>
                <ion-text style="font-size: 20px;">Informacion Básica</ion-text>

            </ion-row>
            <ion-row>
                <ion-text style="color: rgb(105, 105, 105); font-size: 15px;">Proporciona los detalles principales para tu viaje</ion-text>
            </ion-row>


            <ion-row style="padding-top: 20px;">

                <ion-col size="12" size-sm="6">
                    <ion-text style="font-size: 17px; padding-left: 10px;">Nombre del viaje</ion-text>
                    <ion-input shape="round" fill="outline" placeholder="Aventura por Calama"></ion-input>
                </ion-col>

                <ion-col size="12" size-sm="6">
                    <ion-text style="font-size: 17px; padding-left: 10px;">Destino</ion-text>
                    <ion-input shape="round" fill="outline" placeholder="Patagonia, Chile"></ion-input>
                </ion-col>

            </ion-row>

            <ion-row style="padding-top: 20px;">
                <ion-col size="12" size-sm="6">
                    <ion-text style="font-size: 17px; padding-left: 10px;">Fecha de Inicio</ion-text>
                    <ion-input shape="round" fill="outline" placeholder="dd/mm/aa"></ion-input>
                </ion-col>

                <ion-col size="12" size-sm="6">
                    <ion-text style="font-size: 17px; padding-left: 10px;">Fecha de Fin</ion-text>
                    <ion-input shape="round" fill="outline" placeholder="dd/mm/aa"></ion-input>
                </ion-col>

            </ion-row>

            <ion-row>
                <ion-text style="font-size: 20px; padding-top: 20px;">Criterios de Planificación</ion-text>
            </ion-row>

            <ion-row style="padding-top: 20px;">
                <ion-col size="auto">
                  <ion-text style="font-size: 20px;">Presupuesto</ion-text>
                </ion-col>

                <ion-col class="ion-text-end">
                    <ion-text style="font-size: 20px;"> $1.200.000</ion-text>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12">
                  <ion-range aria-label="Custom range" [value]="50">
                    <ion-text slot="start" style="font-size: 15px;">$0</ion-text>
                    <ion-text slot="end" style="font-size: 15px;">$30.000.000</ion-text>
                  </ion-range>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-text style="font-size: 20px;">Tipo de Alojamiento</ion-text>
              </ion-row>

              <ion-row style="padding-top: 20px;">
                <ion-col>
                    <ion-checkbox labelPlacement="end" style="--size: 25px">
                        <ion-text class="text-checkbox">Hotel</ion-text>
                    </ion-checkbox>
                </ion-col>

                <ion-col>
                    <ion-checkbox labelPlacement="end" style="--size: 25px">
                        <ion-text class="text-checkbox">Hostel</ion-text>
                    </ion-checkbox>
                </ion-col>

                <ion-col>
                    <ion-checkbox labelPlacement="end" style="--size: 25px">
                        <ion-text class="text-checkbox">Airbnb</ion-text>
                    </ion-checkbox>

                </ion-col>

                <ion-col>
                    <ion-checkbox labelPlacement="end" style="--size: 25px">
                        <ion-text class="text-checkbox">Camping</ion-text>
                    </ion-checkbox>

                </ion-col>

              </ion-row>

              <ion-row style="padding-top: 40px;">
                <ion-text style="font-size: 20px;">Intereses</ion-text>
              </ion-row>

              <ion-row style="padding-top: 20px;">
                <ion-col>
                    <ion-checkbox labelPlacement="end" style="--size: 25px">
                        <ion-text class="text-checkbox">Naturaleza</ion-text>
                    </ion-checkbox>
                </ion-col>

                <ion-col>
                    <ion-checkbox labelPlacement="end" style="--size: 25px">
                        <ion-text class="text-checkbox">Gastronomía</ion-text>
                    </ion-checkbox>
                </ion-col>

                <ion-col>
                    <ion-checkbox labelPlacement="end" style="--size: 25px">
                        <ion-text class="text-checkbox">Vida Nocturna</ion-text>
                    </ion-checkbox>

                </ion-col>

                <ion-col>
                    <ion-checkbox labelPlacement="end" style="--size: 25px">
                        <ion-text class="text-checkbox">Camping</ion-text>
                    </ion-checkbox>

                </ion-col>

                <ion-col>
                    <ion-checkbox labelPlacement="end" style="--size: 25px">
                        <ion-text class="text-checkbox">Turismo</ion-text>
                    </ion-checkbox>

                </ion-col>

              </ion-row>


              <ion-row class="ion-justify-content-end" style="padding-top: 50px;">
                <ion-col size="auto">
                    <ion-button style="--background: white; color: black;" >Cancelar</ion-button>

                </ion-col>

                <ion-col size="auto">
                    <ion-button style="--background: black; color: white;">Crear Itinerario</ion-button>
                </ion-col>
              </ion-row>


        </ion-grid>

    </ion-content>

</div>
