<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/explore"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="isLoading" class="ion-text-center ion-padding"><ion-spinner name="crescent"></ion-spinner></div>
  <div *ngIf="errorMessage" class="ion-text-center ion-padding">
    <ion-icon name="cloud-offline-outline" color="danger" size="large"></ion-icon>
    <p>{{ errorMessage }}</p>
  </div>

  <div *ngIf="poi && !isLoading">
    <div class="hero-image-container" [style.background-image]="'url(' + poi.main_image_url + ')'"></div>

    <div class="content-sheet">
      <div class="ion-padding">
        
        <ion-chip outline="true" color="primary">
          <ion-icon [name]="poi.category.icon_name || 'pricetag-outline'"></ion-icon>
          <ion-label>{{ poi.category.name }}</ion-label>
        </ion-chip>
        
        <h1 class="ion-no-margin destination-title">{{ poi.name }}</h1>
        <p class="ion-text-wrap ion-margin-top">{{ poi.description }}</p>

        <ion-list lines="none" class="ion-margin-top">
          <ion-item *ngIf="poi.address">
            <ion-icon name="location-outline" slot="start" color="medium"></ion-icon>
            <ion-label class="ion-text-wrap">{{ poi.address }}</ion-label>
          </ion-item>
          <ion-item *ngIf="poi.contact_info?.website" [href]="poi.contact_info?.website" target="_blank">
            <ion-icon name="globe-outline" slot="start" color="medium"></ion-icon>
            <ion-label>Sitio Web</ion-label>
          </ion-item>
        </ion-list>
      </div>

      <div *ngIf="poi.gallery_image_urls && poi.gallery_image_urls.length > 0">
        <h2 class="ion-padding-start">Galería</h2>
        <div class="gallery-scroll">
          <div *ngFor="let imageUrl of poi.gallery_image_urls" class="gallery-item">
            <ion-img [src]="imageUrl"></ion-img>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border" *ngIf="poi">
  <ion-toolbar class="ion-padding-horizontal">
    <ion-button (click)="presentAddToTripSheet()" expand="block" shape="round" size="large">
      <ion-icon slot="start" name="add-circle-outline"></ion-icon>
      Añadir a mi viaje
    </ion-button>
  </ion-toolbar>
</ion-footer>