<ion-header>
  <ion-toolbar>
    <ion-title>Planificar Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onGenerarItinerario()">
    <ion-item>
      <ion-label position="stacked">Destino</ion-label>
      <ion-input [(ngModel)]="destino" name="destino" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fecha de Inicio</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="fechaInicio" name="fechaInicio" required></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fecha de Fin</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="fechaFin" name="fechaFin" required></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Presupuesto</ion-label>
      <ion-input [(ngModel)]="presupuesto" name="presupuesto" type="number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Intereses</ion-label>
      <ion-select [(ngModel)]="intereses" name="intereses" multiple="true">
        <ion-select-option value="naturaleza">Naturaleza</ion-select-option>
        <ion-select-option value="cultura">Cultura</ion-select-option>
        <ion-select-option value="gastronomía">Gastronomía</ion-select-option>
        <ion-select-option value="vida nocturna">Vida Nocturna</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="full" type="submit" class="ion-margin-top">
      Generar Itinerario
    </ion-button>
  </form>
</ion-content>
