<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="onLogin()">
        <ion-item>
          <ion-label position="stacked">Correo Electrónico</ion-label>
          <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit" class="ion-margin-top">
          Iniciar Sesión
        </ion-button>
      </form>
      <ion-item lines="none" class="ion-text-center">
        <ion-label>
          ¿No tienes cuenta? <a routerLink="/register">Regístrate</a>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
