<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Crear Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-container">
    <h1 class="ion-text-center">Únete a la Aventura</h1>
    <p class="ion-text-center">Crea tu cuenta para empezar a planificar tus viajes.</p>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <ion-item>
        <ion-label position="floating">Nombre Completo</ion-label>
        <ion-input type="text" formControlName="name" required></ion-input>
      </ion-item>
      <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="error-message">
        Tu nombre es requerido.
      </div>

      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" formControlName="email" required></ion-input>
      </ion-item>
      <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error-message">
        El correo es inválido.
      </div>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
      </ion-item>
      <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error-message">
        La contraseña debe tener al menos 6 caracteres.
      </div>

      <ion-button expand="block" type="submit" [disabled]="registerForm.invalid" class="ion-margin-top">
        Registrarse
      </ion-button>
    </form>
  </div>
</ion-content>