<app-side-bar overlayId="explore-overlay"></app-side-bar>

<ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <app-menu-button (toggleMenu)="sidebar.toggleSidebar()"></app-menu-button>
      </ion-buttons>

          <ion-title>Mis Viajes</ion-title>
          <ion-buttons slot="end">
            <ion-button size="default" class="custom-button"><span>+</span> Nuevo Viaje</ion-button>
          </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <ion-content class="ion-padding">
    <ion-grid [fixed]="true">
      <ion-row>
          @for(viaje of Viajes; track $index){
            <ion-col size="12" size-md="6" size-lg="4">
            <app-tarjeta-viaje [viaje]="viaje"></app-tarjeta-viaje>
            </ion-col>
          }
      </ion-row>
    </ion-grid>

  </ion-content>
