.greeting-text {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.card-column {
  max-width: 400px;
  width: 1%;
  margin-left: auto;
  margin-right: auto;
}

app-tarjeta-viaje img {
  max-height: 150px;
  width: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

app-tarjeta-viaje ion-img {
  max-height: 150px;
  width: 100%;
}
